<header>
  <div class="header">
    <a href="#" class="menu-toggle">Categories</a>
  </div>
  <nav class="main-nav">
    <ul>
      <% @categories.each do |category| %>
      <li><%= link_to "#{category.name}", gallery_path(category_id: category.id), class: "#{'active' if params[:category_id] == category.id.to_s}" %></li>
      <% end %>
    </ul>
  </nav>
</header>

<% provide(:page, "gallery") %>
<ul id="gallery">
  <% @cakes.each do |cake| %>
    <li>
      <%= image_tag(cake.cake_url, class: "gallery-image") %>
      <% if logged_in? %>
        <%= link_to "Delete", cake_path(cake), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= link_to "New Cake", new_cake_path, class: "button" %>
<% end %>
