<footer class="footer">
  <h2>Order</h2>
  <p>330-646-1194</p>
  <p>jmixingbowl@gmail.com</p>
</footer>
<footer class="footer">
  <h2>Address</h2>
  <p>3309 Pothour Wheeler Rd.</p>
  <p>Hubbard, Ohio, 44425</p>
</footer>
<footer class="footer">
  <h2>Follow Us</h2>
  <a target="_blank" href="https://www.facebook.com/Jills-Mixing-Bowl-758019187568572/">
    <img src="img/facebook-logo.png" class="social-icon">
  </a>
  <a target="_blank" href="https://www.instagram.com/jills_mixing_bowl/">
    <img src="/img/instagram-photo.png" class="social-icon">
  </a>
</footer>
