<h1>Jill&#39;s Mixing Bowl</h1>
<header>
  <div id="header">
    <a href="#" id="menu-toggle">Menu</a>
  </div>
  <nav id="main-nav">
    <ul>
      <li><a href="index.html" id="active">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="order.html">Order</a></li>
    </ul>
  </nav>
</header>
