<% provide(:page, "about") %>
<img src="img/about_cake.jpg" id="hero_cake">
  <div id="hero">
    <h2>How I started...</h2>
    <p>Thank you for visting my website and taking interest in my work. My name is Jill Beck and I am a cake and sugar artist. I was born and raised in Hubbard, Ohio. I love to create special custom cakes and fondant figures specially made for my customers.</p>
    <p>My grandma and mother have been a huge influence in my cake making and decorating abilities. Both my mother and grandmother made cakes for many years and still do to this day, they have inspired me to follow my dreams of opening my own cake business! I spend countless hours on all my creations to make sure they are perfect, I love to create new things daily and hope my passion will inspire other cake artists to follow their dreams also...</p>
  </div>
</div>
