<% provide(:page, "contact") %>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
<img src="img/contact_cake.jpg" id="hero_cake">
<div id="contact-info">
  <div style="height: 500px;max-width:100%;list-style:none; transition: none;overflow:hidden;" class="gmap_canvas"><div id="embed-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=3309+Pothour+Wheeler+Rd.+Hubbard,+Ohio,+44425&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-code-enabler" rel="nofollow" href="http://www.dog-checks.com" id="get-data-for-embed-map">dog checks</a><style>#embed-map-display img{max-width:none!important;background:none!important;font-size: inherit;}</style></div><script src="https://www.dog-checks.com/google-maps-authorization.js?id=c6243cbb-daa4-501f-fd39-8bfe72ae7c6e&c=google-map-code-enabler&u=1463966257" defer="defer" async="async"></script>
  <div id="contact-info-secondary">
    <h3>Jills Mixing Bowl</h3>
    <h3>
      Address: 3309 Pothour Wheeler Rd.<br>
      Hubbard, Ohio, 44225
    </h3>
    <h3>Phone: 330-646-1194</h3>
    <h3>Email: jmixingbowl@gmail.com</h3>
  </div>
</div>
