<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
<img src="img/contact_cake.jpg" id="hero_cake">
<div id="contact-info">
  <div style='overflow:hidden;height:440px; width: 100%;'>
    <div id='gmap_canvas' style='height:440px; width: 100%;'>
    </div>
    <div>
      <small>
        <a href="http://embedgooglemaps.com">
          embed google maps
        </a>
      </small>
    </div>
    <div>
      <small>
        <a href="http://www.autohuren.world/">
          autohuren
        </a>
      </small>
    </div>
  </div>
  <div id="contact-info-secondary">
    <h3>Jills Mixing Bowl</h3>
    <h3>
      Address: 3309 Pothour Wheeler Rd.<br>
      Hubbard, Ohio, 44225
    </h3>
    <h3>Phone: 330-646-1194</h3>
    <h3>Email: jmixingbowl@gmail.com</h3>
  </div>
</div>
