<div class="order">
  <h2>Order Here</h2>
  <p>I happily take custom orders for parties, weddings and special occasions. Please try to place orders at least a month in advance as I am  in very high  demand. When placing an order I do require a deposit that is half the price of the cake. The deposit must be received within a week that the order was placed in order to secure the date. I also make fondant figures to place on personal cakes that you might want to bake yourself! Fondant figures have to take at least a week to dry to ensure they are a quality product! Please also visit me on facebook to see the latest that is happening with Jill&#39;s Mixing Bowl!</p>
  <h3>Call:</h3>
  <h4>330-646-1194</h4>
  <h3>Email:</h3>
  <h4>jmixingbowl@gmail.com</h4>
</div>
